<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% load static %}
  <title>聊天室主页</title>
  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />


<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  {% load static %}
  <link rel="shortcut icon" href="{% static "images/webchat.png"%}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/animate.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
